.nav-link {
    color: white !important;  /* Default color */
    transition: color 0.3s ease-in-out; /* Smooth effect */
  }
  
  .nav-link:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.2); /* Light background */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Some spacing */
  }

  .loginBtn{
    margin-right: 2rem;
  }

  .transparent-navbar {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
